.center-mask{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-message{
  width: 100%;
  max-width: 313px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.success-message > p {
  color: #7a7a7a;
  font-size: 16px;
  margin: 20px;
}
.page-banner{
  margin-top: 20px !important;
}
.padding-column {
  padding: 1rem;
}
.declare-checkbox{
  color: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  width: 90%;
  font-size: 14px;
}
.declare-checkbox > input{
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.a-link{
  color: #474747;
  text-decoration: none;
  cursor: pointer;
}
.iro-title{
  color: #474747;
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 18px;
}
.iro-title1{
  line-height: 30px;
  font-size: 15px;
}
.auto-list-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}