.center-mask{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-message{
  width: 100%;
  max-width: 313px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.success-message > p {
  color: #7a7a7a;
  font-size: 16px;
  margin: 20px;
}
.page-banner{
  margin-top: 20px !important;
}
@media (max-width: 500px){
  .page-banner{
    margin-top: 60px !important;
  }
}