@media (max-width: 500px){
  .btn-sm-100{
    width: 100px !important;
  }
  .declare-checkbox > input{
    width: 70px;
    height: 70px;
  }
  .link-btn{
    margin-right: 0px;
  }
  .drop-products li{
    width: 100% !important;
  }
  .drop-product img, .drop-product video{
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .user-avatar-div {
    border: none;
  }
  .active-page-tab, .age-tab {
    padding: 10px 0;
  }
  .page-tabs{
    width: 100%;
    justify-content: space-between;
  }
  .category-title{
    padding-left: 10px;
  }
  #product-right{
    width: 100%;
    padding: 10px;
  }
  .nft-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nft-category > li{
    margin: 10px 0;
  }
  .page-tab, .active-page-tab{
    margin-right: 0px;
  }
  .orders-go-stake{
    margin-right: 0px;
  }
  .MuiTab-root{
    padding: 0;
    max-width: 30% !important;
    word-wrap: break-word;
  }
  .closer-btn{
    margin-top: -15px;
  }
  .CreateButton{
    margin-top: 15px;
  }
  .nft-swiper{
    height: 250px;
  }
  .page-banner{
    margin-top: 120px !important;
  }
}

